.home {
  display: flex;/*弹性布局*/
  display: -webkit-flex;
  flex-direction: column;/*排列方向：垂直排列，从上到下排列*/
  align-items: center;/*交叉上：居中对齐*/
  font-size: 1.3vw;
  height: 85vh;
}
.avatar-img {
  width: 30vh;
  height: 30vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.avatar {
  width: 30vh;
  height: 30vh;
  border: 10px solid dodgerblue;
  border-radius: 50%;
}
.info {
  flex: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  line-height: 1.4;
}
.name {
  font-size: 3em;
  font-weight: 600;
}
.profession {
  font-size: 1.4em;
  font-weight: 500;
  margin: 0.2en 0;
  margin-bottom: 2.5em;
}
.desc {
  font-size: 1.3em;
  font-weight: 400;
}
